
h2 {

	font-family: arial , sans-serif;
	font-size: 2em;
	background-color: darkgreen;
	margin-top: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	height: auto;
	background-image: url("../Ressources/Images/altBack.png");
	border-bottom: ridge black 3px;
}

.titreSection {
	font-family: arial , sans-serif;
	font-size: 1.5em;
	font-weight: 20px;
}

footer > p {
	padding-top: 60px;
	padding-left: 60px;
}